.canvas-container  {
    padding: 0;
    margin-top: 1rem;
    justify-content: center;
  }
  
  .canvas-container .canvas-content  {
    flex-direction: column;
}

.canvas-container .canvas-content >*  {
  border-radius: 10px;
  box-shadow: 1px 6px 15px 1px #bbc4d1;
  border: 2px solid #ffffff;
}

.canvas-content .controllers-container {
  margin-top: 1rem;
  flex: 1;
  height: 500px;
  padding: 1rem;
}

/* Action Buttons */

.tooltiptext {
  align-self: center;
  text-align: center;
  color: #33be6d;
  border-radius: 15px;
  border: 1px solid white;
  margin-bottom: 0.5rem;
  opacity: 0.8; 
}


.action-btns {
  grid-template-areas: 
  'add-btn delete-btn . up-btn .'
  'add-btn delete-btn left-btn . right-btn'
  'add-btn delete-btn . down-btn .';
  padding-inline-start: 2rem;
  padding-inline-end: 2rem;
}

.action-btns >* { 
  border-radius: 15%;
  background-image: linear-gradient(-86deg, #33be6d 0%, #0c98b9 100%);
}

.action-btns img { 
  max-height: 100%;
}

.add-btn {
  grid-area: add-btn;
  margin-inline-end: 1rem;
  height: 60%;
  width: 60%;
  align-self: center;
}

.delete-btn {
  grid-area: delete-btn;
  margin-inline-end: 1rem;
  height: 60%;
  width: 60%;
  align-self: center;
}

.up-btn {
  grid-area: up-btn;
}
.down-btn {
  grid-area: down-btn;
}
.right-btn {
  grid-area: right-btn;
}
.left-btn {
  grid-area: left-btn;
}

/* Text Buttons */


.txt-input {
  border-radius: 1.8rem;
  background-color: #bbc4d1;
  padding-inline-start: 2rem;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.text-btns {
  grid-template-rows: repeat(2,1fr);
  grid-template-columns: repeat(5,1fr);
  grid-gap: 0.75rem;
  background-color: #19a59f;
  padding: 1rem ;
  border-radius: 5%;
}

.text-btns button{
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 1px 5px 0 rgba(92, 92, 92, 0.55), inset 0 5px 0 rgba(255, 255, 255, 0.58);
}

.text-btns img {
  width: 60%;
}

.font-famely {
  grid-row : 2/3;
  grid-column: 1/4;
}

.color-btn input {
  cursor: pointer;
  background-image: none;
}

.text-btns {
  text-align: center;
}

.actions a{
  background-color: #fff;
  padding: 1rem;
}

.canvas-download {
  background-color: rgb(55, 55, 156) !important; 
  border-radius: 5%;
  color: white;
  padding: 1rem 2rem;
  text-align: center;
}


@media (min-width:1050px) {

  .canvas-container .canvas-content  {
    flex-direction: row;
    padding-inline-start: 2rem;
    padding-inline-end: 2rem;
    grid-template-rows: repeat(6,1fr);
    grid-template-columns: repeat(5,1fr);
  }
  
.canvas-content .controllers-container {
  flex: none;
  margin-top: 0;
  margin-inline-start: 3rem;
  }

  .txt-input {
    margin-bottom: 1rem;
  }

  /* Action Buttons */
  

.action-btns {
  margin-bottom: 0rem;
}

.add-btn {
  grid-area: add-btn;
  margin-inline-end: 1rem;
  height: 60%;
  width: 60%;
  align-self: center;
}

.delete-btn {
  grid-area: delete-btn;
  margin-inline-end: 1rem;
  height: 60%;
  width: 60%;
  align-self: center;
  }

}
