.gallery-container {
  border-radius: 10px;
  background-color: #383b42;
  padding: 1.5rem;
}

/* search bar */

.search-bar {
  width: 100%;
  flex-wrap: wrap;
  margin-top: 0.5rem;
}

.search-bar>* {
  height: 3rem;
  border-radius: 30px;
  padding: 0 2rem;
  margin-inline-end: 0.5rem;
  margin-bottom: 1rem;
}

.search-bar input {
  font-size: 1.3125rem;
  background-color: #22252c;
  color: #6f7075;
  font-weight: 300;
  flex: 100%
}

.keyWords {
  max-width: 536px;
  box-shadow: 0 3px 6px 1px rgba(0, 0, 0, 0.15);
  background-color: #87898d;
  color: #fcfcfc;
  font-weight: 30;
  flex-grow: 1;
}

.more {
  height: 2rem;
  box-shadow: 0 3px 6px 1px rgba(0, 0, 0, 0.15);
  background-color: #fefefe;
  color: #fefefe;
  background-image: linear-gradient(-86deg, #33be6d 0%, #0c98b9 100%);
  font-size: 1.125rem;
  font-weight: 300;
}

/* gallery-content */

.gallery-content {
  /* grid-template-rows: repeat(5,1fr); */
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 1rem;
  margin-top: 50px;
}

.gallery-content .meme img {
  border-radius: 5%;
  cursor: pointer;
}


@media (min-width:1025px) {
  .search-bar input {
    flex: 40%
  }
  .keyWords {
    flex: 45%;
  }
}